<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="m4rcus.TuyaCore" version="1.0.1" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
  <package id="TuyaNet" version="1.0.1" targetFramework="net472" />
  <package id="Unity3D.UnityEngine" version="2018.3.5.1" targetFramework="net472" />
</packages>